# Python
__pycache__/
*.pyc
.venv/
.python-version

# Backup of original code
pi/

# SSL certs (generated at runtime)
src/car/web/server.crt
src/car/web/server.key

# Training data
data/

# Model Weights
models/
